<nav class="navbar">
    <div class="navbar_container">
        <div class="navbar_logo">
            <a routerLink="/accueil"><img src="LogoProjet.ico" alt="Logo du projet" id="logo"></a>
        </div>
        <div class="navbar_titre">
            <h1>Projet BDD</h1>
        </div>
        <div class="navbar_action">
            <a *ngIf="authService.loggedIn$ | async" routerLink="/tableauDeBord" class="lien">Tableau de bord</a>
            <button *ngIf="authService.loggedIn$ | async" (click)="logout()" class="lien">Déconnexion</button>
        </div>
    </div>
</nav>